*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
  font-family: 'DejaVuSans'; 
  src: url('../fonts/DejaVuSans.ttf') format('truetype');
}
body{
  font-family: "Roboto", sans-serif;
}

/* Roboto fonts */
.font-1{
  font-family: "Roboto", sans-serif;
}
.font-2{
  font-family: 'DejaVuSans', sans-serif;
}

/* Colors */

.bg-grey{
  background-color: #f4f4f4;
}
.bg-main{
  background-color: #65e2ca;
}
.text-clr-main{
  color: #65e2ca;
}
/* spacing */
.mx-80{
  margin: 0px 80px 0px 80px;
}
.mb-80{
  margin-bottom: 80px;
}
.mb-40{
  margin-bottom: 40px;
}
.mb-32{
  margin-bottom: 32px;
}
.me-40{
  margin-right: 40px;
}
.mt-130{
  margin-top: 130px;
}
.py-96{
  padding: 96px 0px 96px 0px;
}
.p-64{
  padding: 64px;
}
.p-56{
  padding: 56px;
}
.p-32{
  padding: 32px;
}
.pr-8{
  padding-right: 8.33333%;
}
.pl-8{
  padding-left: 8.33333%;
}

.gap-40{
  gap: 40px;
}
.gap-32{
  gap: 32px;
}
/* buttons */
.btn-1{
  background-color: #65e2ca!important;
  color: #000!important;
  border: 0px!important;
}
.btn-2{
  background-color: #000!important;
  color: #fff!important;
}
.btn-3{
  background-color: white!important;
  color: black!important;
}
/* headings */
.text-xs {
  font-size: .625rem;
}
.text-xl {
  font-size: 1.375rem;
}
.text-3xl{
  font-size: 2.188rem;
}
.text-4xl{
  font-size: 2.813rem;
}
.text-6xl{
  font-size: 4.063rem;
}
.text-7xl {
  font-size: 4.688rem;
}

/* header Slide transitions */
.header{
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 50;
}
.slideUp {
  -webkit-transform: translateY(-110px);
          transform: translateY(-110px);
  transition: transform .5s ease-out;
}

.slideDown {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  transition: transform .5s ease-out;
}

.header-toggle-style{
  height: 100vh;
  background-color: #65e2ca;
  font-size: 1.875rem;
  font-weight: 700;
}
.collapse-toggle-style{
  padding-top: 70px;
}

.nav-icon-close{
  display: none;
}
.navbar-toggler[aria-expanded="true"] .nav-icon-close{
  display: block;
}
.navbar-toggler[aria-expanded="true"] .nav-icon-toggler{
  display: none;
}

.phone-mockup-container {
  position: relative;
  max-width: 100%; 
}

.phone-mockup {
  display: block;
  width: 100%; 
  height: auto;
  position: relative;
  z-index: 20;
}

.phone-video {
  position: absolute;
  top: 11%; 
  left: 21%; 
  width: 53%; 
  height: 83%; 
  object-fit: cover; 
  border-radius: 12px;
}

.card-border-top{
  border-top: 6px solid black;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}
.cta-div{
  margin-bottom: -9rem;
  position: relative;
  z-index: 10;
}
.cta-div-p--left{
  padding: 106px 64px 56px 64px;
}
.cta-div-img--right{
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
}
.footer-input{
  background-color: #333333;
  color: #969696!important;
  border: 0px;
  width: 300px;
}
.footer-input::placeholder{
  color: #969696!important;
}

/* Hover effects */

.hover-prev-btn, 
.hover-next-btn {
  transition: transform 0.4s ease, opacity 0.4s ease, width 0.4s ease;
  width: 44px; 
}

.hover-main-btn {
  transition: margin-left 0.4s ease, margin-right 0.4s ease;
}

/* Initial state: Hide prev button, show next button */
.hover-prev-btn {
  transform: scale(0); 
  opacity: 0; 
  width: 0; 
}

.hover-next-btn {
  transform: scale(1); 
  opacity: 1;
  width: 44px;
}

.hover-main-btn button{
  height: 44px;
}

.slider-next-btn-black{
  background-color: #000!important;
  fill: white;
  height: 56px;
  width: 56px;
}
.footer-next-btn-white{
  background-color: #fff!important;
  fill: black;
  height: 44px;
  width: 44px;
}
.social-icon{
  transform: scale(1);
  transition: transform 0.4s ease;
}
/* .service-card-img{
  transform: scale(1);
  transition: transform 0.4s ease;
} */
/* On hover */
.hover-btn:hover .hover-prev-btn {
  transform: scale(1); 
  opacity: 1; 
  width: 44px;
}

.hover-btn:hover .hover-next-btn {
  transform: scale(0); 
  opacity: 0; 
  width: 0;
}

.slider-next-btn-black:hover{
  background-color: #65e2ca!important;
  fill: black;
  height: 56px;
  width: 56px;
}
.footer-next-btn-white:hover{
  background-color: #65e2ca!important;
  fill: black;
  height: 44px;
  width: 44px;
}
.social-icon:hover{
  transform: scale(0.9);
  transition: transform 0.4s ease;
}
.scale-img-container{
  overflow: hidden; 
  cursor: pointer;
}
.scale-img{
  transition: transform 0.4s ease;
}
.scale-img-container:hover .scale-img {
  transform: scale(1.05); 
}

.header-hover-line{
  position: relative;
  text-decoration: none; 
  color: black;
  display: inline-block;
  width: max-content; 
  padding-bottom: 2px; 
}
.header-hover-line::after {
  content: '';
  position: absolute;
  width: 0; 
  height: 1px; 
  background-color: black; 
  bottom: 0; 
  left: 0;
  transition: width 0.5s ease;
}

.header-hover-line:hover::after {
  width: 100%;
}

.footer-hover-line{
  position: relative;
  text-decoration: none; 
  color: white;
  display: inline-block;
  width: max-content; 
  padding-bottom: 2px; 
}
.footer-hover-line::after {
  content: '';
  position: absolute;
  width: 0; 
  height: 1px; 
  background-color: white; 
  bottom: 0; 
  left: 0;
  transition: width 0.5s ease;
}

.footer-hover-line:hover::after {
  width: 100%;
}
/* marquee effect */

  .marquee-wrapper {
    display:  flex;
    white-space: nowrap;
    overflow-x: hidden;
  }
  
  .marquee {
    display: flex;
    white-space: nowrap;
    position: relative;
    transform: translate3d(0%, 0, 0);
    animation-name: marquee;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 77s;
  }

  @keyframes marquee {
    0% {
      transform: translate3d(0%, 0, 0);
    }
    100% {
      transform: translate3d(-100%, 0, 0);
    }
  }

/* pricing toggle */

.pricing-toggle{
  background-color: #fff;
  border-radius: 1.875rem;
  display: flex;
  padding: 4px;
  gap: 4px;
  /* flex-wrap: wrap; */
}
.pricing-toggle-link{
  color: grey;
  background-color: white;
  border-radius: 1.875rem;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}
.pricing-toggle-link.active {
  background-color: black;
  color: white;
}
/* Slider  */
.slider-container {
  width: 100%;
  overflow: hidden;
  /* position: relative; */
}

.slider-wrapper {
  display: flex;
  gap: 30px;
  transition: transform 0.5s ease-in-out;
}

.slider-card {
  min-width: calc(33.33% - 20px);
  box-sizing: border-box;
  /* padding: 32px; */
  /* margin: 0 20px; */
  border-radius: 8px;
}

.dots-container {
  display: flex;
  justify-content: center;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.dot.active {
  background-color: #65e2ca;
  width: 20px; 
  border-radius: 12px;
}

/* #pricingSlider .carousel-controls{
  position: absolute;
  right: -0.5rem;
  bottom: 40%;
} */
#servicesSlider .carousel-controls{
  position: absolute;
  right: -1.5rem;
  bottom: 60%;
}

/* Tablet Responsive */
@media (min-width: 600px) and (max-width: 1024px) { 
  .gap-40{
    gap: 30px;
  }
  .text-lg-2xl{
    font-size: 1.875rem;
  }
  .text-lg-3xl{
    font-size: 2.188rem;
  }
  .text-lg-4xl{
    font-size: 2.813rem;
  }
  .text-lg-5xl{
    font-size: 3.438rem;
  }
  .text-lg-6xl {
    font-size: 4.063rem;
  }
  .py-lg-64{
    padding: 64px 0px 64px 0px;
  }
  .pr-8{
    padding-right: 2.5rem;
  }
  .pl-8{
    padding-left: 2.5rem;
  }
  .mx-lg-40{
    margin: 0px 40px 0px 40px;
  }
  .mb-lg-24{
    margin-bottom: 24px;
  }
  .cta-div{
    margin-bottom: -7rem;
    position: relative;
    z-index: 10;
  }
  .cta-div-p--left{
    padding: 78px 64px 56px 64px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .slider-wrapper {
    display: flex;
    gap: 30px;
    transition: transform 0.5s ease-in-out;
  }
  
  .slider-card {
    min-width: calc(50% - 15px);
    box-sizing: border-box;
    border-radius: 8px;
  }
}
/* Mobile Responsive */
@media (max-width: 599.98px) { 
  .gap-40{
    gap: 30px;
  }
  .p-sm-24{
    padding: 24px;
  }
  .pr-8{
    padding-right: 12px;
  }
  .pl-8{
    padding-left: 12px;
  }
  .py-sm-48{
    padding: 48px 0px 48px 0px;
  }
  .mx-sm-24{
    margin: 0px 24px 0px 24px;
  }
  .text-sm-xl{
    font-size: 1.375rem;
  }
  .text-sm-2xl{
    font-size: 1.875rem;
  }
  .text-sm-3xl{
    font-size: 2.188rem;
  }
  .mb-sm-24{
    margin-bottom: 24px;
  }
  .slider-wrapper {
    display: flex;
    gap: 30px;
    transition: transform 0.5s ease-in-out;
  }
  
  .slider-card {
    min-width: calc(100%);
    box-sizing: border-box;
    border-radius: 8px;
  }
  .cta-div{
    margin-bottom: -6rem;
    position: relative;
    z-index: 10;
  }
  .cta-div-p--left{
    padding: 32px 32px 32px 32px;
  }
  .cta-div-img--right{
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 1rem;
  }
}